{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
    <h1>Liste des formations</h1>

    <hr>

    <table class="table table-striped table-hover">
        <caption>Liste des formations</caption>

        <thead class="table-dark">
            <tr>
                <th>Nom</th>
                <th>Ville</th>
                <th>Début</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.nom }}</td>
                <td>{{ formation.ville }}</td>
                <td>{{ formation.startedAt|date('d/m/Y') }}</td>
                <td>
                    <a href="{{ path('formation_show', {'id': formation.id}) }}" class="btn btn-info">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
