{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
    <h1>Liste des formations</h1>

    <hr>

    <section class="row mt-5">
        {% for formation in formations %}
            <div class="col-4">
                {% include 'partials/_formationCard.html.twig' with {formation} %}
            </div>
        {% endfor %}
    </section>
{% endblock %}
