{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
    <h1>Liste des formations</h1>

    <hr>

    {% if is_granted('ROLE_REFERENT') %}
        <div class="row">
            <a href="{{ path('formation_new') }}" class="btn btn-dark col-2 offset-10">
                Ajouter <i class="fa fa-plus"></i>
            </a>
        </div>
    {% endif %}

    <section class="row mt-5">
        {% for formation in formations %}
            <div class="col-4">
                {% include 'partials/_formationCard.html.twig' with {formation} %}
            </div>
        {% endfor %}
    </section>
{% endblock %}
