{% extends 'base.html.twig' %}

{% block title %}Formation {{ formation.code }}{% endblock %}

{% block body %}
    <h1>{{ formation.nom }}</h1>

    <hr>

    <div class="row">
        <a href="{{ path('formation_update', {'id': formation.id}) }}" class="btn btn-dark col-2 offset-10">
            Modifier <i class="fa fa-pencil"></i>
        </a>
    </div>

    <section class="row">

    </section>
{% endblock %}

