{% extends 'base.html.twig' %}

{% block title %}Mise à jour{% endblock %}

{% block body %}
    <h1>Mettre à jour</h1>

    <hr>

    {{ form_start(formation_update) }}
        {{ form_widget(formation_update) }}

        <button class="btn btn-primary float-end">Modifier</button>
    {{ form_end(formation_update) }}
{% endblock %}

