{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <h1>A propos</h1>

    <hr>

    <section>
        <h2>Qui sommes-nous ?</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolorem doloribus ducimus laudantium, molestias nostrum quia tenetur voluptas voluptate voluptatibus! Alias cum dignissimos dolores ipsa perspiciatis qui quo ullam unde?</p>
    </section>

    <section>
        <h2>Notre équipe</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid aspernatur, assumenda consequatur cupiditate distinctio, eveniet, fuga hic iste laborum magnam nam nisi obcaecati quasi voluptates. Dolore itaque praesentium quia!</p>
    </section>
{% endblock %}

