{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contactez-nous !</h1>

    <hr>

    <section>
        <h2>Lorem</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur cupiditate deserunt dicta
            dolorum ducimus ex harum, impedit iusto modi odit omnis perspiciatis quibusdam rem sint sunt vel vero
            voluptatibus.
        </p>
    </section>
{% endblock %}

