{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    <h1>Bienvenue !</h1>

    <hr>

    <section>
        <h2>Lorem</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam rem, voluptas. Aliquid commodi dolore dolorem doloribus esse eum eveniet expedita, inventore laudantium magnam molestias officiis pariatur possimus quidem saepe velit.
        </p>
    </section>
{% endblock %}
