<footer class="mt-auto text-center bg-dark text-white  fixed-bottom">
    <div class="container">
        <section class="row justify-content-evenly">
            <div class="col-6 mt-3">
                <strong>CEFIM</strong>, l'avenir entre vos mains !
            </div>

            <div class="col-6 mt-3">
                <a href="#" class="fs-4 m-2"><i class="fab fa-facebook text-white"></i></a>
                <a href="#" class="fs-4 m-2"><i class="fab fa-twitter text-white"></i></a>
                <a href="#" class="fs-4 m-2"><i class="fab fa-linkedin text-white"></i></a>
                <a href="#" class="text-decoration-none text-white fs-4 m-2" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">English</a></li>
                    <li><a class="dropdown-item" href="#">Français</a></li>
                </ul>
            </div>
        </section>

        <hr>

        <section class="row justify-content-evenly">
            <div class="col-4 text-start">
                <h3>CEFIM</h3>

                <p>
                    Centre de Formation professionnel et CFA, pionnier des formations dans le numérique depuis 2001 à Tours, Orléans et partout en France !
                </p>
            </div>

            <div class="col-4 text-start">
                <h3>Contact</h3>

                <p><i class="fas fa-home me-3"></i> Tours, FR</p>
                <p><i class="fas fa-envelope me-3"></i> contact@cefim.local</p>
                <p><i class="fas fa-phone me-3"></i> +33 123 456 789</p>
                <p><i class="fas fa-print me-3"></i> +33 123 456 789</p>
            </div>
        </section>

        <hr>

        <section>
            © 2023 <a href="https://cefim.eu" class="link-light">CEFIM</a>
        </section>
    </div>
</footer>